{% assign rootdir='doctrine/behaviors/' %}
{% assign imgsource='/images/' %}

<h2 id="behaviors"> ActAs Behaviors</h2>
{% assign element='behaviors/' %}
{% assign imgfile=''%}
{% assign tutorial='' %}

<h3>Blameable</h3>

{% assign file='blameable.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>EventLoggable</h3>

{% assign file='loggable.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Geographical</h3>
{% assign file='geographical.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/projects/doctrine1/en/latest/en/manual/behaviors.html#geographical' %}
{% include elem_docu.html%}

<h3>GoogleI18n</h3>
{% assign file='GoogleI18n.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>I18n</h3>

{% assign file='translatable.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/projects/doctrine1/en/latest/en/manual/behaviors.html#i18n' %}
{% include elem_docu.html%}

<h3>Nested-set</h3>

{% assign file='tree.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/projects/doctrine1/en/latest/en/manual/behaviors.html#nestedset' %}
{% include elem_docu.html%}

<h3>Searchable</h3>
{% assign file='searchable.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/projects/doctrine1/en/latest/en/manual/behaviors.html#searchable' %}
{% include elem_docu.html%}

<h3>Sluggable</h3>

{% assign file='sluggable.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/projects/doctrine1/en/latest/en/manual/behaviors.html#sluggable' %}
{% include elem_docu.html%}

<h3>Sortable</h3>

{% assign file='sortable.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Softdelete</h3>

{% assign file='softdeleteable.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/projects/doctrine1/en/latest/en/manual/behaviors.html#softdelete' %}
{% include elem_docu.html%}

<h3>Timestampable</h3>

{% assign file='timestampable.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/projects/doctrine1/en/latest/en/manual/behaviors.html#timestampable' %}
{% include elem_docu.html%}

<h3>Taggable</h3>
{% assign file='taggable.md' %}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}