<h1>Getting started with Doctrine</h1>

{% assign rootdir='doctrine/getting-started/' %}
{% assign imgsource='/images/' %}

<h2>Doctrine Installation SVN</h2>
{% assign element='installation/' %}

{% assign file='install-svn.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

<h2>Doctrine Installation with PEAR package</h2>
{% assign element='installation/' %}

{% assign file='install-pear.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/projects/doctrine1/en/latest/en/manual/getting-started.html#installing' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h2>Doctrine implementation</h2>
{% assign element='installation/' %}

{% assign file='implementation.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/projects/doctrine1/en/latest/en/manual/getting-started.html#implementing' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h2>Doctrine basic use</h2>
{% assign element='basic-use/' %}

<h3>Generating Doctrine schema files from database</h3>
{% assign file='db_model.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/projects/doctrine1/en/latest/en/manual/introduction-to-models.html#generating-models' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h3>Creating database tables from Doctrine schema file</h3>
{% assign file='model_db.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/projects/doctrine1/en/latest/en/manual/introduction-to-models.html#schema-files' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h2 id="symfony">Using Doctrine with Symfony 2</h2>
{% assign element='symfony/' %}

<h3>Installation</h3>
{% assign file='symfonyinstall.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h3>Basic use of Doctrine with Symfony 2<h3>
{% assign file='symfonybasics.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='' %}
{% assign tutorial='' %}
{% include elem_docu.html%}
