  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="language" content="en" />
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Quick guide and reference manual of ORM syntax." />
  <meta name="keywords" content="orm, orm framework, orm mapping, orm model, association, inheritance, doctrine, doctrine2, propel, cake php, symfony2, zend" />
  <meta name="google-site-verification" content="5esysbMlyxHCGYKeWErJXv1tTm9vmvmZzXfGe1LRrCo" />
  <meta name="title" content="ORM Cheatsheet | Your number one ORM reference" />
  
  <title>ORM Cheatsheet | Your number one ORM reference</title>
  
  <link rel="stylesheet" href="/css/foundation.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/frekie.css" />
  
  <script src="/js/vendor/modernizr.js"></script>
  <script src="/js/rainbow-custom.min.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-48953738-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
