            <dd data-magellan-arrival="js"><a href="#entity">Entity</a></dd>
            <dd data-magellan-arrival="js"><a href="#id">Id</a></dd>
            <dd data-magellan-arrival="js"><a href="#field">Field</a></dd>
            <dd data-magellan-arrival="js"><a href="#indexes">Indexes</a></dd>
            <dd data-magellan-arrival="js"><a href="#association">Association</a></dd>
            <dd data-magellan-arrival="js"><a href="#manytomany">Many to Many</a></dd>
            <dd data-magellan-arrival="js"><a href="#inheritance">Inheritance</a></dd>
            <dd data-magellan-arrival="js"><a href="#d2extensions">Doctrine extensions</a></dd>
            <dd data-magellan-arrival="js"><a href="#behaviors">Behaviors</a></dd>
            <dd data-magellan-arrival="js"><a href="#skipper">Skipper</a></dd>
            <dd data-magellan-arrival="js"><a href="#links">Links</a></dd>
