<!-- element id {% increment GlobalElementCounter %} -->
{% assign format='' %}
{% include getcode.html %}

{% if usedtabs != '' %}

 {% assign isLink='false' %}
 {% assign isMore='false' %}
 {% assign isPhp='false' %}
 {% assign isYml='false' %}
 {% assign isXml='false' %}

<!-- which tabs are used --> 
 
{% if usedtabs contains 'link' %}
  {% assign isActive='link' %}
  {% assign isLink='true' %}
    
  {% capture panelIdLink %}panel{{GlobalElementCounter}}-5{% endcapture %}
{% endif %}

{%if usedtabs contains 'more' %}
  {% assign isActive='more'%}
  {% assign isMore='true' %}
  {% assign linkFlag='' %}
    
  {% capture panelIdMore %}panel{{GlobalElementCounter}}-4{% endcapture %}
{% endif %}

{%if usedtabs contains 'yml' %}
  {% assign isActive='yml' %}
  {% assign isYml='true' %}
    
  {% capture panelIdYml %}panel{{GlobalElementCounter}}-3{% endcapture %}
{% endif %}

{%if usedtabs contains 'xml' %}
  {% assign isActive='xml' %}
  {% assign isXml='true' %}
    
  {% capture panelIdXml %}panel{{GlobalElementCounter}}-2{% endcapture %}
{% endif %}

{%if usedtabs contains 'php' %}
  {% assign isActive='php' %}
  {% assign isPhp='true' %}
   
  {% capture panelIdPhp %}panel{{GlobalElementCounter}}-1{% endcapture %}
{% endif %}

<!-- which content is used -->

{% assign linkFlag='' %}
{% assign moreFlag='' %}
{% assign phpFlag='' %}
{% assign ymlFlag='' %}
{% assign xmlFlag='' %}

{% if isActive == 'xml' %}{% assign xmlFlag='active' %}{% endif %}
{% if isActive == 'php' %}{% assign phpFlag='active' %}{% endif %}
{% if isActive == 'yml' %}{% assign ymlFlag='active' %}{% endif %}
{% if isActive == 'more' %}{% assign moreFlag='active' %}{% endif %}
{% if isActive == 'link' %}{% assign linkFlag='active' %}{% endif %}

<!-- display the content -->

   <div class="row">
      <div class="large-{% if imgfile != '' %}8{% else %}12{% endif %} columns">
        
        <dl class="tabs" data-tab>
          {% if isPhp == 'true' %}<dd class="{{phpFlag}}"><a href="#{{panelIdPhp}}">Annotations</a></dd>{% endif %}
          {% if isXml == 'true' %}<dd class="{{xmlFlag}}"><a href="#{{panelIdXml}}">XML</a></dd>{% endif %}
          {% if isYml == 'true' %}<dd class="{{ymlFlag}}"><a href="#{{panelIdYml}}">YML</a></dd>{% endif %}
          {% if isMore == 'true' %}<dd class="{{moreFlag}}"><a href="#{{panelIdMore}}">More info</a></dd>{% endif %}
          {% if isLink == 'true' %}<dd class="{{linkFlag}}"><a href="#{{panelIdLink}}">Links</a></dd>{% endif %}
        </dl>
        
        <div class="tabs-content">
            {% if isPhp == 'true' %}
                <div class="content {{phpFlag}}" id="{{panelIdPhp}}">
                    {% assign format='php/' %}
                    {% include getcode.html %}
                </div>
            {% endif %}
            {% if isXml == 'true' %}
                <div class="content {{xmlFlag}}" id="{{panelIdXml}}">
                    {% assign format='xml/' %}
                    {% include getcode.html %}
                </div>
            {% endif %}
            {% if isYml == 'true' %}
                <div class="content {{ymlFlag}}" id="{{panelIdYml}}">
                    {% assign format='yml/' %}
                    {% include getcode.html %}
                </div>
           {% endif %}
           {% if isMore == 'true' %}
                <div class="content {{moreFlag}}" id="{{panelIdMore}}">
                    {% assign format='more/' %}
                    {% include getcode.html %}
                </div>
           {% endif %}
           {% if isLink == 'true' %}
                <div class="content {{linkFlag}}" id="{{panelIdLink}}">
                    {% assign format='link/' %}
                    {% include getcode.html %}
                </div>
           {% endif %}
           
        </div>
      </div>
      
   
      {% if imgfile != '' %}
         <div class="large-4 large-centered columns">
            <div class="image-tab">
              <a href="#designer"><img class="image-element" alt="Model element" src="{{imgsource}}{{imgfile}}"/></a>
              <p class="image-caption-model">Generated by <a href="#designer">ORM Designer </a></p>
            </div>    
         </div>
      {% endif %}
    </div>

{% endif %}
