    <div class="row">
      <div class="large-12 columns">
        <h2 id="entity">Getting started with Doctrine</h2>
      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget velit dictum, dignissim lacus in, vestibulum lorem. Fusce elementum elit eros, a imperdiet lectus sodales a. Nullam non nunc a urna dictum tempus. Sed hendrerit nisl in turpis sagittis, sit amet volutpat nisi ultrices. Quisque quis lectus eu justo tempor lobortis. Nulla odio augue, malesuada et nibh ac, molestie molestie libero. Proin tristique ipsum id pulvinar pellentesque. Fusce quis augue non eros ultricies mattis venenatis vehicula nunc.</p>
      </div>
    </div>
    <div class="row">
      <div class="large-7 columns">
        <dl class="tabs" data-tab>
          <dd class="active"><a href="#panel2-1">XML</a></dd>
          <dd><a href="#panel2-2">YML</a></dd>
          <dd><a href="#panel2-3">Annotations</a></dd>
          <dd><a href="#panel2-4">More info</a></dd>
          <dd><a href="#panel2-5">Links</a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" id="panel2-1">
            <pre><code data-language="python">def openFile(path):
            file = open(path, "r")
            content = file.read()
            file.close()
            return content</code></pre>
          </div>
          <div class="content" id="panel2-2">
            <p>Second panel content goes here...</p>
          </div>
          <div class="content" id="panel2-3">
            <p>Third panel content goes here...</p>
          </div>
          <div class="content" id="panel2-4">
            <p>Fourth panel content goes here...</p>
          </div>
          <div class="content" id="panel2-5">
            <p>Fifth panel content goes here...</p>
          </div>
        </div>
      </div>
      <div class="large-5 columns">
        <img alt="Model" src="http://www.orm-designer.com/uploads/thumbs/61739-no-more-double-work-359x221.jpg" style="margin-top: 2.7rem;" />
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h2 id="model">Getting started with Doctrine</h2>
        <p>Vivamus malesuada, lorem at commodo tincidunt, dolor nunc pulvinar neque, sit amet aliquet justo tortor et nulla. Maecenas convallis ut ipsum sit amet posuere. Maecenas vitae purus eu felis consectetur euismod ac sodales libero. Morbi eget nunc in lacus vestibulum imperdiet. Sed pellentesque nisi sit amet rhoncus volutpat. Sed pulvinar, lectus in imperdiet imperdiet, magna massa vestibulum nisi, ut gravida quam ante sit amet est. Suspendisse non magna rutrum, semper ipsum et, lobortis tellus.</p>
        <p>Cras viverra auctor neque, et venenatis tortor facilisis et. Aenean sit amet orci pellentesque, lobortis enim vitae, condimentum turpis. Pellentesque arcu leo, rutrum ut pretium sed, adipiscing sed elit. Integer in semper nunc. Ut ut tellus at neque adipiscing commodo. Pellentesque in euismod erat, eu faucibus arcu. Vestibulum in consequat tellus. Aliquam quis massa blandit, lacinia orci eget, dictum erat. Curabitur tristique ligula eu libero hendrerit vestibulum. Aliquam fringilla arcu non lorem aliquam, nec sollicitudin massa tempus.</p>
        <h3>Basic usage</h3>
        <p>Pellentesque ut magna at orci malesuada tempor. Proin magna enim, faucibus in quam nec, cursus dictum erat. Vestibulum egestas ipsum vitae quam semper, scelerisque lacinia ligula imperdiet. Morbi facilisis mi quis sem vulputate, nec congue ipsum molestie. In sodales interdum accumsan. Nulla turpis dui, varius id blandit eget, mollis in lorem. Mauris ultricies magna a augue porta feugiat. Ut ut rutrum arcu. Vestibulum sagittis ultrices tortor, ac mollis ligula tristique ac. Vestibulum lobortis pretium ante, sed tristique arcu consequat et. Mauris rhoncus ligula sed est posuere porta. Sed libero velit, accumsan quis porttitor iaculis, semper sit amet nisi. Nam nec erat bibendum, condimentum elit at, scelerisque tellus. Donec ultricies mauris in ultrices venenatis. Donec fermentum ante eget justo ultricies dignissim. Proin tristique ut urna a vulputate.</p>
        <p>Sed sollicitudin eleifend ligula, ut pellentesque ipsum blandit sed. Integer mollis laoreet nisl. Praesent sit amet fermentum felis, sed dapibus velit. Donec purus eros, tincidunt a commodo in, facilisis vitae nisl. Praesent massa justo, ornare ac porttitor eget, accumsan ut massa. Donec non diam quam. Sed facilisis ut augue ac vestibulum. In lectus justo, vehicula volutpat dolor sit amet, euismod eleifend eros. Aliquam erat volutpat. Fusce luctus dui eu sapien volutpat, rutrum vulputate odio lobortis. Ut sit amet laoreet metus. Nunc consectetur ante eget metus pretium pharetra. Aliquam a mi ac lacus commodo commodo et quis neque. Ut ac eros vel mi tincidunt pulvinar. Pellentesque aliquet magna vitae leo dignissim, eget commodo mi cursus.</p>
      </div>
    </div>
  </div>
