<h4>Simple inheritance</h4>
{% assign file='simpleparent.md' %}
{% assign imgfile='inh_par.png'%}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign file='simplechild.md' %}
{% assign imgfile='inh_child.png'%}
{% assign usedtabs='yml' %}
{% include section.html %}

<h4>Concrete inheritance</h4>
{% assign file='concreteparent.md' %}
{% assign imgfile='inh_par.png'%}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign file='concretechild.md' %}
{% assign imgfile='inh_child.png'%}
{% assign usedtabs='yml' %}
{% include section.html %}

<h4>Column aggregation inheritance</h4>
{% assign file='aggregation.md' %}
{% assign imgfile='inh_par.png'%}
{% assign usedtabs='yml' %}
{% include section.html %}

{% assign file='aggregationchild.md' %}
{% assign imgfile='inh_child.png'%}
{% assign usedtabs='yml' %}
{% include section.html %}

