<h4>One to One</h4>
{% assign file='onetooneowner_as.md' %}
{% assign imgfile='onetooneowner.png'%}
{% assign usedtabs='xml, yml, php, link' %}
{% include section.html %}

{% assign file='onetooneinverse_as.md' %}
{% assign imgfile='onetooneinverse.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

<h4>Many to One</h4>
{% assign file='manytooneowner_as.md' %}
{% assign imgfile='manytooneowner.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

{% assign file='manytooneinverse_as.md' %}
{% assign imgfile='manytooneinverse.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

<h4>Association with all options enabled</h4>
{% assign file='manytooneowner_options.md' %}
{% assign imgfile='manytooneowner.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

{% assign file='manytooneinverse_options.md' %}
{% assign imgfile='manytooneinverse.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}