<h4>Single table inheritance</h4>
{% assign file='simpleparent.md' %}
{% assign imgfile='inh_par.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

{% assign file='simplechild.md' %}
{% assign imgfile='inh_child.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

<h4>Class table inheritance</h4>
{% assign file='classtableparent.md' %}
{% assign imgfile='inh_par.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

{% assign file='classtablechild.md' %}
{% assign imgfile='inh_child.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

<h4>Mapped superclass inheritance</h4>
{% assign file='supperclass.md' %}
{% assign imgfile='inh_par.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

{% assign file='supperclasschild.md' %}
{% assign imgfile='inh_child.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

