<h4>Many to Many</h4>
{% assign file='manytomanyowner_as.md' %}
{% assign imgfile='manytomanyowner.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

{% assign file='manytomanyinverse_as.md' %}
{% assign imgfile='manytomanyinverse.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

{% assign file='manytomanyoptions.md' %}
{% assign imgfile=''%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

<h4>MN Entity</h4>
{% assign file='mnentity.md' %}
{% assign imgfile='mnentity.png'%}
{% assign usedtabs='' %}
{% include section.html %}

