{% assign rootdir='propel/behaviors/' %}
{% assign imgsource='/images/' %}

<h1 id="behaviors">Behaviors</h1>
{% assign element='behaviors/' %}
{% assign imgfile=''%}
{% assign tutorial='#skipper' %}

<h3>Aggregate column</h3>

{% assign file='aggregate.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Alternative coding standards</h3>

{% assign file='alternativecoding.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Archivable</h3>

{% assign file='archivable.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Automatically add PK</h3>

{% assign file='autoaddpk.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>i18n</h3>

{% assign file='i18n.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Nested set</h3>

{% assign file='nested_set.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Query cache</h3>

{% assign file='query_cache.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Sluggable</h3>

{% assign file='sluggable.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Soft Delete</h3>

{% assign file='softdelete.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Sortable</h3>

{% assign file='sortable.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Timestampable</h3>

{% assign file='timestampable.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}

<h3>Versionable</h3>

{% assign file='versionable.md' %}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign documentation='' %}
{% include elem_docu.html%}