<h1>Getting started with Propel</h1>

{% assign rootdir='propel/getting-started/' %}
{% assign imgsource='/images/' %}
{% assign element='' %}

<h2>Propel Installation</h2>

{% assign file='install.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

<h2>Propel basic use</h2>

<h3>Generating Propel model from database</h3>
{% assign file='db_model.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='http://propelorm.org/cookbook/working-with-existing-databases' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h3>Creating database tables from Propel model</h3>
{% assign file='model_db.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='http://propelorm.org/documentation/02-buildtime.html' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h2 id="symfony">Using Propel with Symfony2</h2>

<h3>Installation</h3>
{% assign file='symfony2install.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h3>Configuration</h3>
{% assign file='symfony2config.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h3>Configure your schema</h3>
{% assign file='symfony2basics.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='' %}
{% assign tutorial='' %}
{% include elem_docu.html%}