<h1>Propel Model Elements</h1>
{% assign rootdir='propel/elements/' %}
{% assign imgsource='/images/elements/' %}

<h2>Schema file structure</h2>
{% assign element='schemafile/' %}
{% assign documentation='' %}
{% assign tutorial='#designer' %}

{% assign file='schemafile.md' %}
{% assign imgfile='model.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% include elem_docu.html%}

<h2 id="database">Database element</h2>
{% assign element='module/' %}
{% assign documentation='' %}
{% assign tutorial='#designer' %}

{% assign file='module.md' %}
{% assign imgfile='model.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% include elem_docu.html%}

<h2 id="entity">Table</h2>
{% assign element='entity/' %}
{% assign documentation='' %}
{% assign tutorial='#designer' %}
{% include propel/elements/entity.html %}
{% include elem_docu.html%}

<h2 id="id">Id</h2>
{% assign element='field/' %}
{% assign documentation='' %}
{% assign tutorial='#designer' %}
{% include propel/elements/id.html%}
{% include elem_docu.html%}

<h2 id="field">Column</h2>
{% assign element='field/' %}
{% assign documentation='' %}
{% assign tutorial='#designer' %}
{% include propel/elements/field.html%}
{% include elem_docu.html%}

<h2 id="indexes">Index</h2>
{% assign element='index/' %}
{% assign documentation='' %}
{% assign tutorial='#designer' %}
{% include propel/elements/indexes.html%}
{% include elem_docu.html%}

<h2 id="association">Association</h2>
{% assign element='association/' %}
{% assign documentation='' %}
{% assign tutorial='#designer' %}
{% include propel/elements/association.html%}
{% include elem_docu.html%}

<h2 id="manytomany">MN Association</h2>
{% assign element='mnassoc/' %}
{% assign documentation='' %}
{% assign tutorial='#designer' %}
{% include propel/elements/mnassociation.html%}
{% include elem_docu.html%}

<h2 id="inheritance">Inheritance</h2>
{% assign element='inheritance/' %}
{% assign documentation='' %}
{% assign tutorial='#designer' %}
{% include propel/elements/inheritance.html%}
{% include elem_docu.html%}