<div class="row">
  <div class="large-6 columns">
    <h1 id="designer">ORM Designer</h1>
  </div>
  <div class="large-6 columns" style="text-align:right">
    <br/>
    <a href="http://www.orm-designer.com "><h3>Visit website</h3></a>
  </div>
</div>
  
<p>
  <a href="http://www.orm-designer.com "><img alt="ORM Designer application" src="/images/designer/ormd.png" /></a>
</p>

<br/>
<br/>

<div class="row">
  <div class="large-8 columns">
  
    {% if framework == 'Doctrine 2' %}{% include designer/doctrine2.html %}{% endif %}
    {% if framework == 'Doctrine' %}{% include designer/doctrine1.html %}{% endif %}
    {% if framework == 'CakePHP' %}{% include designer/general.html %}{% endif %}
    {% if framework == 'Propel' %}{% include designer/general.html %}{% endif %}
  
    <p>ORM Designer greatly simplifies work with {{framework}} and saves huge amount of time. Every example entity and relation used in this Cheatsheet can be achieved with just a few clicks with ORM Designer. Generated code is clean and elegant and complies with all coding standards. </p>
  
    <p>To learn how ORM Designer works visit the <a href="http://help.orm-designer.com/en/product-tour">product tour</a>.</p>
  
  </div>

  <div class="large-4 large-centered columns">
    <img  class="image" src="/images/designer/entityeditor.png" alt="Entity editor">
    <p class="image-caption">Entity editor</p>
   </div>
  
</div>

<div class="row">
  <div class="large-8 columns">
    <h3>Export to {{framework}} definitions</h3>
    <p>ORM Designer allows to model and export the definition for every {{framework}} element and its properties. Further advantages of automated export are:
      <ul>
        <li>Editing and generating of definitions is fully repeatable.</li>
        <li>Standardized definitions are immediately ready-to-use.</li>
        <li>All typos and syntax errors are 100% eliminated.</li>
      </ul>
    </p>  
    <p>Useful links:<br/>
    <a href="http://help.orm-designer.com/en/project-export">Project export</a> - more info about ORM Designer definitions export<br/>
    <a href="http://help.orm-designer.com/en/{% if framework == 'CakePHP' %}cakephp-new-project#h3{% endif %}{% if framework != 'CakePHP' %}{{framework}}-import-project#h4{% endif %}">Export to {{framework}}</a> - how to export your changes to definition schema files<br/>
  </div>
    

  <div class="large-4 large-centered columns">
    <a href="http://help.orm-designer.com/en/project-export"><img class="image" src="/images/designer/export.png" alt="Export dialog"></a>
    <p class="image-caption">Export dialog</p>
    </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <h3>Import of a project</h3>
    <p>Any existing {{framework}} project can be simply and quickly imported to ORM Designer. This enables:
      <ul>
        <li>To visualize logic of any project.</li>
        <li>To start to use application in any phase of the project.</li>
      </ul>
    </p>
    <p>Useful links:<br/>
    <a href="http://help.orm-designer.com/en/project-import">Project import</a> - general information about import feature<br/>
    <a href="http://help.orm-designer.com/en/{% if framework == 'CakePHP' %}cakephp-new-project{% endif %}{% if framework != 'CakePHP' %}{{framework}}-import-project{% endif %}">{{framework}} project import</a> - how to import existing project to ORM Designer</p>
  </div>


  <div class="large-4 large-centered columns">
    <a href="http://help.orm-designer.com/en/project-import"><img class="image" src="/images/designer/import.png" alt="Import dialog"></a>
    <p class="image-caption">Import dialog</p>
    </div>
</div>

<div class="row">
  <div class="large-8 columns">
  <h3>Summary of ORM Designer benefits</h3>
    <ul>
      <li>Allows to create and maintain the project four times faster.</li>
      <li>Replaces manual definitions writing and reduces errors.</li>
      <li>Emphasizes the creative part of a project and eliminates the stereotype.</li>
      <li>Increases work comfort.</li>
      <li>Provides quality project documentation.</li>
      <li>Reduces requirements on knowledge and experience of programmers.</li>
      <li>Simplifies the cooperation between team members.</li>
    </ul>
  </p>
  </div>

  <div class="large-4 large-centered columns">
    <a href="http://help.orm-designer.com/en/product-tour"><img class="image" src="/images/designer/big_model.png" alt="Atlantic model"></a>
    <p class="image-caption">Atlantic model</p>
    </div>
 
</div>

<div class="row">
  <div class="large-8 columns">
  <h3>ORM Designer download</h3>
  <p>You can try ORM Designer during its 14-day evaluation period. Trial version offers full application functionality without any limitation and no credit card is needed.</p> 

  <p>Download trial version from the tool websites at <a href="http://www.orm-designer.com/download-orm-designer">www.orm-designer.com/download</a>.</p>
    
  </p>
  </div>

  <div class="large-4 large-centered columns">
    <a href="http://www.orm-designer.com/download-orm-designer"><img src="/images/designer/button.png" alt="Download ORM Designer"></a>
    </div>
</div>