<h1>Doctrine Extensions</h1>

{% assign rootdir='doctrine2/behaviors/' %}
{% assign imgsource='/images/' %}

<h2 id="d2extensions">Installing Doctrine extensions for Symfony2</h2>

{% assign element='installation/' %}

{% assign file='installsymfony2.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

<h3>Mapping Doctrine2 for Symfony2</h3>
{% assign element='installation/' %}

{% assign file='mappingsymfony2.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

<h3>Listener services for Doctrine2</h3>
{% assign element='installation/' %}

{% assign file='listenerssymfony2.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

<h2>Installing Doctrine extensions for Zend Framework 2</h2>

{% assign file='installzend2.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

<h3>Configuring Doctrine extensions for Zend Framework 2</h3>

{% assign file='configzend2.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}



<h2 id="behaviors">Behaviors</h2>
{% assign element='behaviors/' %}
{% assign imgfile=''%}
{% assign tutorial='' %}

<h3>Tree</h3>

{% assign file='tree.md' %}
{% assign usedtabs='xml, yml, php' %}
{% include section.html %}

{% assign documentation='https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/tree.md' %}
{% include elem_docu.html%}

<h3>Translatable</h3>

{% assign file='translatable.md' %}
{% assign usedtabs='xml, yml, php' %}
{% include section.html %}

{% assign documentation='https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/translatable.md' %}
{% include elem_docu.html%}

<h3>Sluggable</h3>

{% assign file='sluggable.md' %}
{% assign usedtabs='xml, yml, php' %}
{% include section.html %}

{% assign documentation='https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/sluggable.md' %}
{% include elem_docu.html%}

<h3>Timestampable</h3>

{% assign file='timestampable.md' %}
{% assign usedtabs='xml, yml, php' %}
{% include section.html %}

{% assign documentation='https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/timestampable.md' %}
{% include elem_docu.html%}

<h3>Blameable</h3>

{% assign file='blameable.md' %}
{% assign usedtabs='xml, yml, php' %}
{% include section.html %}

{% assign documentation='https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/blameable.md' %}
{% include elem_docu.html%}

<h3>Loggable</h3>

{% assign file='loggable.md' %}
{% assign usedtabs='xml, yml, php' %}
{% include section.html %}

{% assign documentation='https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/loggable.md' %}
{% include elem_docu.html%}

<h3>Sortable</h3>

{% assign file='sortable.md' %}
{% assign usedtabs='xml, yml, php' %}
{% include section.html %}

{% assign documentation='https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/sortable.md' %}
{% include elem_docu.html%}

<h3>Softdeleteable</h3>

{% assign file='softdeleteable.md' %}
{% assign usedtabs='xml, yml, php' %}
{% include section.html %}

{% assign documentation='https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/softdeleteable.md' %}
{% include elem_docu.html%}


<h3>Uploadable</h3>

{% assign file='uploadable.md' %}
{% assign usedtabs='xml, yml, php' %}
{% include section.html %}

{% assign documentation='https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/uploadable.md' %}
{% include elem_docu.html%}


<h3>ReferenceIntegrity</h3>

{% assign file='referenceintegrity.md' %}
{% assign usedtabs='yml, php' %}
{% include section.html %}

{% assign documentation='https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/reference_integrity.md' %}
{% include elem_docu.html%}

<h3>IpTraceable</h3>

{% assign file='iptraceable.md' %}
{% assign usedtabs='xml, yml, php' %}
{% include section.html %}

{% assign documentation='https://github.com/l3pp4rd/DoctrineExtensions/blob/master/doc/ip_traceable.md' %}
{% include elem_docu.html%}