<h1>Getting started with Doctrine2</h1>

{% assign rootdir='doctrine2/getting-started/' %}
{% assign imgsource='/images/' %}

<h2>Doctrine2 Installation</h2>
{% assign element='installation/' %}

{% assign file='install.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

<h2>Doctrine2 configuration</h2>
<h3>Class loading</h3>
{% assign file='config.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='http://doctrine-orm.readthedocs.org/en/latest/reference/configuration.html#class-loading' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h3>Entity Manager</h3>
{% assign file='entitymanager.md' %}
{% assign imgfile='model.png'%}
{% assign usedtabs='xml, yml, php, more, link' %}
{% include section.html %}

<h3>Command line tool</h3>
{% include doctrine2/getting-started/installation/commandline.html %}

{% assign documentation='http://doctrine-orm.readthedocs.org/en/latest/reference/configuration.html#setting-up-the-commandline-tool' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h2>Doctrine2 basic use</h2>
{% assign element='basic-use/' %}

<h3>Generating Doctrine2 model from database</h3>
{% assign file='db_model.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/en/2.0.x/reference/tools.html#reverse-engineering' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h3>Creating database tables from Doctrine2 model</h3>
{% assign file='model_db.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='http://docs.doctrine-project.org/en/2.0.x/reference/tools.html#entity-generation' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h2 id="symfony">Using Doctrine2 with Symfony2</h2>
{% assign element='symfony/' %}

<h3>Installation</h3>
{% assign file='symfony2install.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h3>Configuration</h3>
{% assign file='symfony2config.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h3>Configure your schema</h3>
{% assign file='symfony2basics.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h2>Using Doctrine2 with Symfony1.4</h2>
{% assign element='symfony/' %}

<h3>Installation</h3>
{% assign file='symfonyinstall.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h3>Configuration</h3>
{% assign file='symfonyconfig.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='' %}
{% assign tutorial='' %}
{% include elem_docu.html%}

<h3>Basic use<h3>
{% assign file='symfonybasics.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

{% assign documentation='' %}
{% assign tutorial='' %}
{% include elem_docu.html%}



<h2 id="zend">Using Doctrine2 with Zend Framework 2</h3>
{% assign element='zend/' %}

<h3>Installation</h2>
{% assign file='zendinstall.md' %}
{% assign imgfile=''%}
{% assign usedtabs='' %}
{% include section.html %}

