<h4>Single table inheritance</h4>
{% assign file='simpleparent.md' %}
{% assign imgfile='inh_par.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

<h4>Class table inheritance</h4>
{% assign file='classtableparent.md' %}
{% assign imgfile='inh_par.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign file='classtablechild.md' %}
{% assign imgfile='inh_child.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

<h4>Concrete table inheritance</h4>
{% assign file='concreteparent.md' %}
{% assign imgfile='inh_par.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign file='concretechild.md' %}
{% assign imgfile='inh_child.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

