<h4>Many to Many</h4>
{% assign file='manytomanyowner_as.md' %}
{% assign imgfile='manytomanyowner.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign file='manytomanyinverse_as.md' %}
{% assign imgfile='manytomanyinverse.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign file='manytomanyoptions.md' %}
{% assign imgfile=''%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

<h4>MN Entity</h4>
{% assign file='mnentity.md' %}
{% assign imgfile='manytomany.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

<h4>Many to Many using non-PK foreign key</h4>
{% assign file='nonpkmanytomanyowner_as.md' %}
{% assign imgfile='nonpkmanytomanyowner.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign file='nonpkmanytomanyinverse_as.md' %}
{% assign imgfile='nonpkmanytomanyinverse.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}

{% assign file='nonpkmnentity.md' %}
{% assign imgfile='nonpkmanytomany.png'%}
{% assign usedtabs='xml, yml, link' %}
{% include section.html %}